@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {

  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

input[type='range'] {
  --range-progress: ;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background:rgb(109, 120, 125);
  width: 100%;
  height: 4px;
  border-radius: 8px;
  cursor: pointer;
}

/* Input range - firefox */
input[type='range']::-moz-range-track {
  position: relative;
  background: rgb(109, 120, 125);
  width: 100%;
  height: 4px;
  border-radius: 8px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type='range']::before {
  content: '';
  height: 4px;
  background: rgb(43, 217, 124);
  width: var(--range-progress);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
input[type='range']::-moz-range-progress {
  background: rgb(43, 217, 124);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  height: 4px;
}

/* slider thumb - firefox */
input[type='range']::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid rgb(185, 185, 185);
  position: relative;
}

/* slider thumb - chrome and safari */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
}

.skeleton {
  background: linear-gradient(65deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}